<header>
  <p>最寄りバス停検索</p>
  <div class="logo">
    <img src="/assets/logo.png" alt="">
  </div>
</header>

<h2>マスタ登録</h2>
<div class="content">
  <%= form_tag('/home/master') do %>
      施設名 <input type="text" class="forms" name="place_name"><br>
      かな <input type="text" class="forms" name="hiragana"><br>
      停留所名 <input type="text" class="forms" name="near_stop"><br>
      頭文字 <input type="text" class="forms" name="initial"><br>
      のりば <input type="text" class="forms" name="number"><br>
      路線名 <input type="text" class="forms" name="root"><br>
      備考 <input type="text" class="forms" name="memo"><br>
      区分 <input type="text" class="forms" name="section"><br>
    <input type="submit" class="update btn btn-info" value="登録">
    <a href="/" class="update btn btn-secondary">
      キャンセル
    </a>
  <% end %>
</div>
<a href="/home/csv">csvを取り込む（基本的には触らないこと）</a>
<a href="/home/destroy">全削除</a>