body {
  /* background: linear-gradient(180deg,#003366 0%,#003366 290px,white
  290px,white 100%); */
  background-color: white;
  color: black;
  font-family: Meiryo;
  margin: 0;
  }
  
  header {
  background: #444444;
  color: #eee;
  font-size: 25px;
  margin: 0px;
  padding: 6px;
  width: 100%;
  height: 50px;
  float: right;
  margin: 0em;
  }
  
  .logo {
    text-align: right;
    position:absolute;
    right:10px;
    top:3px;
  }
  
  .back {
  background-color: #003366;
  padding-top: 65px;
  height: 250px;
  margin-bottom: 0em;
  }
  
  .main > p {
  font-size: 25px;
  color: white;
  text-align: center;
  }
  
  /*フォーム全体*/
  #form1{
  position: relative;/*フォームの相対位置*/
  max-width: 520px;/*フォームのサイズ*/
  margin-bottom: 15px;/*フォームの下に余白*/
  margin: 0px auto;
  }
  /*検索ボックス*/
  #sbox{
  position:absolute;/*フォームの絶対位置*/
  left:0;
  top:0;
  width: 500px;
  font-size: 30px;
  outline:0;/*クリック時の青い枠線消す*/
  height:70px;/*検索ボックスの高さ*/
  padding:0 10px;/*テキスト位置調整*/
  border-radius:5px 5px 5px 5px;/*検索ボックスの角を丸める*/
  background:#eee;/*検索ボックスの背景カラー*/
  }
  /*検索ボタン*/
  #sbtn{
  width:90px;/*検索ボタンの横幅*/
  height:70px;/*検索ボタンの縦幅*/
  position:absolute;/*検索ボタンの絶対位置*/
  left:510px;/*検索ボタンの位置調整*/
  top:0;
  border-radius:5px 5px 5px 5px;/*検索ボタンの角を丸める*/
  background:#7fbfff;/*検索ボタンの背景カラー*/
  border:none;/*検索ボタンの枠線を消す*/
  color:#fff;/*検索ボタンのテキストカラー*/
  font-weight:bold;/*検索ボタンのテキスト太字*/
  font-size:30px;/*検索ボタンのフォントサイズ*/
  }
  /*検索ボタンマウスオーバー時*/
  #sbtn:hover{
  color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/
  }
  
  .button-area {
  text-align: center;
  margin: 0px 10px 10px 10px;
  }
  #sbtn2 {
  width:250px;/*検索ボタンの横幅*/
  height:50px;/*検索ボタンの縦幅*/
  position:absolute;/*検索ボタンの絶対位置*/
  position: relative;
  
  border-radius:3px 3px 3px 3px;/*検索ボタンの角を丸める*/
  background:#7fbfff;/*検索ボタンの背景カラー*/
  border:none;/*検索ボタンの枠線を消す*/
  color:#fff;/*検索ボタンのテキストカラー*/
  font-weight:bold;/*検索ボタンのテキスト太字*/
  font-size:25px;/*検索ボタンのフォントサイズ*/
  }
  
  #sbtn2:hover{
  color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/
  }

  .tbl-out {
    padding: 2%;
  }
  
  .table-width {
  width: 300px;
  }
  
  .table-width-a {
    width: 80px;
  }
  

  .blk {
  background-color: #444444;
  color: white;
  }
  
  .master {
    background-color: #f5f5f5;
  }
  
  .button-area {
    margin: 30px;
    padding: 10px;
    border: medium solid gray;
    background-color: #f5f5f5;
  }
  